<div class="grid">
	<div class="col-12">
		<div class="card">
			<h2 class="text-sm">Bienvenido(a)</h2>
			<h2 class="text-3xl font-bold">{{datosUsuario.nombre}}</h2>
			<h2 class="text-sm text-600"><span class="text-900">usuario: </span> {{datosUsuario.correo}} <span class="text-900">fecha: </span> {{fecha}}</h2>
		</div>
	</div>
</div>

<!-- <iframe #miIframe *ngIf="vidUrl && iframeerror == false" width="100%"  [src]="vidUrl" frameborder="0" allowfullscreen (load)="iframeLoadedHandler()" (error)="iframeErrorHandler()"></iframe>

<div class="grid" *ngIf="vidUrl && iframeerror == true">
	<div class="col-12">
		<div class="card">
			<h2 class="text-sm">Lo sentimos, pagina en mantenimiento.</h2>
          
		</div>
	</div>
</div> -->