.container {
    margin: 20px;
}

.search-bar {
    width: 50%;  /* Reducir el ancho al 50% */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pagination {
    display: flex;
    gap: 5px;
}

.items-per-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.items-per-page select {
    padding: 5px;
}

button.active-page {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.items-per-page {
    margin-bottom: 100px; 
}
