<!-- Barra de búsqueda -->

<div class="grid">
	<div class="col-12">
    <p-card>

      <section class="hero is-small ">
        <div class="parent1">
          <span class="text-4xl text-center">Tienda</span>
        </div>
        </section>
        <br>
        <p-dataView #dv [value]="products" [rows]="5" [paginator]="true">
          <ng-template pTemplate="header">
            <br>
                <div class="flex flex-column md:flex-row md:justify-content-between">
                    <span class="p-input-icon-left mb-2 md:mb-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Buscar" [(ngModel)]="filtro"  (input)="aplicarFiltrosN()"/>
                    </span>
                    &nbsp;
                    <span class="p-float-label">
                      <p-dropdown [(ngModel)]="filtro1" inputId="float-label"  (onChange)="aplicarFiltros1()" [options]="categorias"  [showClear]="true" placeholder="Seleccione">{{categorias}}</p-dropdown>
                      <label for="float-label">Filtro Categoria:</label>
                  </span>
                </div>
            </ng-template>
          <ng-template pTemplate="list" let-products>
              <div class="grid grid-nogutter">
                  <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                      <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                          <div class="md:w-10rem relative">
                              <img class="block xl:block mx-auto border-round w-full" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image" [alt]="item.name" />
                              <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute" [style.left.px]="4" [style.top.px]="4" />
                          </div>
                          <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                              <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                  <div>
                                      <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                                      <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                                  </div>
                                  <!-- <div class="surface-100 p-1" style="border-radius: 30px">
                                      <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                          <span class="text-900 font-medium text-sm">{{ item.rating }}</span>
                                          <i class="pi pi-star-fill text-yellow-500"></i>
                                      </div>
                                  </div> -->
                              </div>
                              <div class="flex flex-column md:align-items-end gap-5">
                                  <span class="text-xl font-semibold text-900">{{ '$' + item.price }}</span>
                                  <div class="flex flex-row-reverse md:flex-row gap-2">
                                      <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                                      <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="Buy Now" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-dataView>
    </p-card>
    <!-- <div class="search-container" style="display: flex; justify-content: flex-start; margin-bottom: 20px;">
      <input
        type="text"
        class="search-bar"
        placeholder="Buscar productos..."
        [(ngModel)]="searchTerm"
        (input)="searchProducts(searchTerm)"
        style="width: 50%;"
      />
    </div> -->
    
    <!-- Productos mostrados en grid -->
    <!-- <div class="product-grid">
      <div *ngFor="let product of paginatedProducts" class="product-card">
        <img [src]="product.image" alt="{{product.name}}" class="product-image">
        <h3>{{product.name}}</h3>
        <p>Q{{product.price}}</p>
        <p>{{product.weight}}</p>
        <button class="add-button">+ Agregar</button>
      </div>
    </div> -->
    
    <!-- Paginación y selector de productos por página -->
    <!-- <div class="pagination-container">
      <div class="pagination">
        <button (click)="changePage(1)" [disabled]="currentPage === 1">« Primera pág</button>
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">‹</button>
        <button *ngFor="let page of totalPagesArray" 
                (click)="changePage(page)" 
                [ngClass]="{'active-page': page === currentPage}">
          {{ page }}
        </button>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
        <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Última pág »</button>
      </div> -->
    
      <!-- Selector de productos por página -->
      <!-- <div class="items-per-page">
        <label for="itemsPerPage" style="color:white; margin-right: 10px;">Productos por página</label>
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage($event.target.value)">
          <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    
  </div>
</div> -->
