<!-- Barra de búsqueda -->

<div class="grid">
	<div class="col-12">
    <p-card>

      <section class="hero is-small ">
        <div class="parent1">
          <span class="text-4xl text-center">Tienda</span>
        </div>
        </section>
        <br>
        <p-dataView #dv [value]="products" [rows]="5" [paginator]="true">
          <ng-template pTemplate="header">
            <br>
                <div class="flex flex-column md:flex-row md:justify-content-between">
                    <span class="p-input-icon-left mb-2 md:mb-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Buscar" [(ngModel)]="filtro"  (input)="aplicarFiltrosN()"/>
                    </span>
                    &nbsp;
                    <span class="p-float-label">
                      <p-dropdown [(ngModel)]="filtro1" inputId="float-label"  (onChange)="aplicarFiltros1()" [options]="categorias"  [showClear]="true" placeholder="Seleccione">{{categorias}}</p-dropdown>
                      <label for="float-label">Filtro Categoria:</label>
                  </span>
                  &nbsp;
                  <i class="pi pi-cart-plus mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="this.datosPedido.length" (click)="tipoModal('A','')"></i>
                </div>
            </ng-template>
          <ng-template pTemplate="list" let-products>
              <div class="grid grid-nogutter">
                  <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                      <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                          <div class="md:w-10rem relative">
                              <img class="block xl:block mx-auto border-round w-full" [src]="item.foto" [alt]="item.producto" />
                              <!-- <p-tag [value]="item.cantidad" [severity]="getSeverity(item)" class="absolute" [style.left.px]="4" [style.top.px]="4" /> -->
                          </div>
                          <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                              <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                  <div>
                                      <span class="font-medium text-secondary text-sm">{{ item.categoria }}</span>
                                      <div class="text-lg font-medium text-900 mt-2">{{ item.producto }}</div>
                                  </div>
                                  <!-- <div class="surface-100 p-1" style="border-radius: 30px">
                                      <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                          <span class="text-900 font-medium text-sm">{{ item.rating }}</span>
                                          <i class="pi pi-star-fill text-yellow-500"></i>
                                      </div>
                                  </div> -->
                              </div>
                              <div class="flex flex-column md:align-items-end gap-5">
                                  <span class="text-xl font-semibold text-900">{{ 'Q' + item.precio_Venta }}</span>
                                  <div class="flex flex-row-reverse md:flex-row gap-2">
                                      <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                                      <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="Comprar" (click)="carrito(item)" [disabled]="isItemSelected(item)" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-dataView>
    </p-card>
  
  

  <p-dialog [header]="tituloModal" 
	[modal]="true" 
	[(visible)]="displayModal" 
	[style]="{ width: '35rem' }" >


  <form *ngIf="datosPedido.length > 0" [formGroup]="formConsulta" (submit)="guardar()">

    <div class="flex flex-column gap-3">
      <div>
        <label for="descrip" class="font-semibold w-6rem">Fecha para recoger pedido:</label>
        <input formControlName="Fecha_Programada" [ngClass]="{'alertaBoton': formConsulta.controls['Fecha_Programada'].invalid && (formConsulta.controls['Fecha_Programada'].dirty || formConsulta.controls['Fecha_Programada'].touched)}" type="date" id="descrip" class="input"  />
  <small id="descri-help" *ngIf="formConsulta.controls['Fecha_Programada'].invalid && (formConsulta.controls['Fecha_Programada'].dirty || formConsulta.controls['Fecha_Programada'].touched)" style="font-size: 14px; color: red;">Campo requerido.</small>
      </div>
    </div>
    <br>
    <table  class="table is-bordered">
      <thead>
        <tr>
          <th class="td1">Nombre del Producto</th>
          <th class="td1">Cantidad (lbs)</th>
          <th class="td1">Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosPedido; let i = index">
          <td class="td1">
            <span class="contenido" style="text-transform:uppercase">{{ item.producto }}</span>
          </td>
          <td class="td1">
            <input 
              type="number" 
              class="input" 
              min="1" 
              placeholder="Cantidad"
              (input)="calcularSubtotal(i,$event)" 
            />
          </td>
          <td class="td1">
            <span class="contenido">Q.{{item.subtotal}}</span>
          </td>
          <td>
            <p-button icon="pi pi-times" (click)="not_seguro(i)" pAutoFocus [autofocus]="true"  severity="danger"></p-button>
          </td>
        </tr>
        <!-- Fila del total general -->
        <tr>
          <td colspan="2" class="td1 text-right font-bold">Total:</td>
          <td class="td1">
            <span class="contenido">Q.{{total}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="modalclose()"  />
      <p-button label="Confirmar" icon="pi pi-send" type="submit" severity="success"/>
  </div>
</form>


  <div align="center">
    <label  *ngIf="datosPedido.length === 0" class="font-semibold w-8rem">Sin Productos Agregados</label>
  </div>
  
  
    


</p-dialog>