<div class="grid">
	<div class="col-12">
		
	<p-card>
		<section class="hero is-small ">
			<div class="parent1">
				<span class="text-4xl text-center">Pedidos</span>
			</div>
		  </section>
		  <br>
		<p-table #dt1 [value]="datos" styleClass="p-datatable-striped" responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Se muestra {first} de {last} de {totalRecords} datos" [globalFilterFields]="['id_Rol','descripcion']">
			<ng-template pTemplate="caption">
				<div class="flex">
					<!-- <p-button icon="pi pi-plus-circle" severity="success" (click)="tipoModal('A','')"></p-button> -->
					<span class="p-input-icon-left ml-auto">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"  placeholder="Buscar" />
					</span>
				</div>
			</ng-template>
			<ng-template  pTemplate="header">
				<tr>
				  <th [style]="{'font-size': '13px', 'text-align': 'center'}">No.</th>
                  <th [style]="{'font-size': '13px', 'text-align': 'center'}">Fecha Solicitado</th>
					<th [style]="{'font-size': '13px', 'text-align': 'center'}">Fecha Entrega</th>
					<th [style]="{'font-size': '13px', 'text-align': 'center'}">Total a Pagar</th>
					<th [style]="{'font-size': '13px', 'text-align': 'center'}">Estado</th>
                    <th [style]="{'font-size': '13px', 'text-align': 'center'}">Ver</th>
					<th [style]="{'font-size': '13px', 'text-align': 'center'}">Finalizar</th>
				</tr>
			</ng-template>
			<ng-template  pTemplate="body" let-product let-rowIndex="rowIndex">
				<tr>
				  <td  [style]="{'font-size': '13px', 'text-align': 'center'}">{{rowIndex+1}}</td>
					<td  [style]="{'font-size': '13px', 'text-align': 'center'}">{{product.fecha_Pedido | date:'dd/MM/yyyy'}}</td>
                    <td  [style]="{'font-size': '13px', 'text-align': 'center'}">{{product.fecha_Programada | date:'dd/MM/yyyy'}}</td>
					<td  [style]="{'font-size': '13px', 'text-align': 'center'}">Q.{{product.total_Pedido}}</td>
                    <td  [style]="{'font-size': '13px', 'text-align': 'center'}">{{product.estado}}</td>
					<!-- <td  [style]="{'font-size': '13px', 'text-align': 'center'}">{{product.OBSERVACIONES}}</td> -->
                    <td [style]="{'font-size': '13px', 'text-align': 'center'}"><button  (click)="tipoModal('V',product)" pButton type="button" icon="pi pi-eye"  class="p-button-secondary is-small" iconPos="left" ></button></td>
					<td [style]="{'font-size': '13px', 'text-align': 'center'}"><button  (click)="not_seguro2(product)" pButton type="button" icon="pi pi-check"  class="p-button-success is-small" iconPos="left" ></button></td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
				  <td colspan="5">No Hay Información.</td>
				</tr>
			  </ng-template>
		</p-table>
	</p-card>

		</div>


	<p-dialog [header]="tituloModal" 
	[modal]="true" 
	[(visible)]="displayModal" 
	[style]="{ width: '50rem' }" >


	<div *ngIf="tipo_modal=='E'">
		<form [formGroup]="formConsulta" (submit)="guardar()">

			<div class="flex flex-column gap-3">
				<div>
				  <label for="descrip" class="font-semibold w-6rem">Fecha para recoger pedido:</label>
				  <input formControlName="Fecha_Programada" [ngClass]="{'alertaBoton': formConsulta.controls['Fecha_Programada'].invalid && (formConsulta.controls['Fecha_Programada'].dirty || formConsulta.controls['Fecha_Programada'].touched)}" type="date" id="descrip" class="input"  />
			<small id="descri-help" *ngIf="formConsulta.controls['Fecha_Programada'].invalid && (formConsulta.controls['Fecha_Programada'].dirty || formConsulta.controls['Fecha_Programada'].touched)" style="font-size: 14px; color: red;">Campo requerido.</small>
				</div>
			</div>
		  <br>
			<div class="flex justify-content-end gap-2">
				<p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="modalclose()"  />
				<p-button label="Guardar" icon="pi pi-send" type="submit" severity="success"/>
			</div>
		</form>
	</div>

	<div *ngIf="tipo_modal == 'V'">
		<p-table #dt1 [value]="datosDetalle" dataKey="id_Pedido" editMode="row"
		[paginator]="true"
		[rows]="10"  styleClass=" p-datatable-gridlines"  [tableStyle]="{'min-width': '40rem'}"  [globalFilterFields]="['DESC_TIPO_MATERIAL','DESC_PRODUCTO','DESCRIPCION']">
		<ng-template pTemplate="caption">
			<div class="flex">
				<span class="p-input-icon-left ml-2">
					<i class="pi pi-search"></i>
					<input [style]="{'font-size':'13px'}" pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
				</span>
			</div>
		</ng-template>    
			<ng-template pTemplate="header">
				<tr [style]="{'font-size':'12px', 'text-align':'center'}">
					<th >No.</th>
					<th>Producto</th>
					<th >Cantidad (lbs)</th>
					<th >Precio</th>

					<th >Subtotal</th>
					<th >Editar</th>
					<th >Eliminar</th>
				</tr>
			</ng-template>
		   

			<ng-template  pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
				<tr [pEditableRow]="product" [style]="{'font-size':'13px', 'text-align':'left'}" >
					<td >
					  {{ri + 1}}
					</td>
					<td >
					  {{product.producto}}
					</td>
					<td>
						<p-cellEditor>
							<ng-template pTemplate="input">
							  <input [(ngModel)]="product.cantidad_Pedido" class="input is-info" placeholder="Cantidad" type="number" > 
							</ng-template>
							<ng-template pTemplate="output">
							  {{product.cantidad_Pedido}} 
							</ng-template>
						</p-cellEditor>
					</td>
					<td >
						{{product.precio_Unitario}}
					  </td>
					<td >
						{{product.sub_Total}}
					  </td>
					<!-- <td>
						<p-cellEditor>
							<ng-template pTemplate="input">
							  <input [(ngModel)]="product.precio_Unitario" class="input is-info" placeholder="Precio" type="number" > 
							</ng-template>
							<ng-template pTemplate="output">
							  {{product.precio_Unitario}} 
							</ng-template>
						</p-cellEditor>
					</td>
				   -->
					
					<td  [style]="{'width':'0px','font-size':'8px'}">
						<button *ngIf="!editing " (click)="onRowEditInitM(product)" pInitEditableRow [style]="{'height':'5px','font-size':'10px', 'width':'25px'}" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
						<button *ngIf="editing " (click)="onRowEditSaveM(product)" pSaveEditableRow  [style]="{'height':'10px','font-size':'12px', 'width':'20px'}" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
						<button *ngIf="editing"  (click)="onRowEditCancelM(product, ri)" pCancelEditableRow [style]="{'height':'10px','font-size':'12px', 'width':'20px'}" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
					</td>
				   <td [style]="{'width':'0px','font-size':'8px'}">
					<button [style]="{'height':'5px','font-size':'10px', 'width':'25px', 'text-align':'center', 'color':'red'}" (click)="not_seguro1(product)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
				  </td>

					
				</tr>
			</ng-template>
		</p-table>
	</div>



    
    </p-dialog>
</div>