

<div class="fondo">
    <header style="background:transparent">
        <nav class="p-d-flex p-jc-between p-ai-center p-px-3 p-py-2" style="background-color: transparent;">
          <!-- Logo -->
          <div class="logo p-d-flex p-ai-center">
            <img src="../../../../../assets/demo/images/principal/fondo.png" alt="Logo de la Carnicería Chiqui" class="p-mr-2">
          </div>
      
          <!-- Botón de Iniciar Sesión -->
          <div class="nav-right">
                <p-button label="Iniciar Sesión" icon="pi pi-user" [outlined]="true"  class="custom-rounded-button" />    
              </div>
        </nav>
      </header>

    <div class="image-container p-relative">
        <!-- Imagen -->
        <!-- <img src="../../../../../assets/demo/images/principal/carnes.jpg" alt="Imagen" class="image"> -->
      
        <!-- Texto centrado en medio de la imagen -->
        <section class="hero">
            <div class="hero-content w-auto">
                <h1>CHIQUI</h1>
                <p>Cada platillo en familia merece lo mejor</p>
            </div>
        </section>
    </div>
    <br>
    <div class="container">
        <div class="flex justify-content-center flex-wrap">
            <div class="w-30rem md:w-30rem sm:w-30rem border-round font-bold p-3 flex align-items-center justify-content-center ">
                <img src="../../../../../assets/demo/images/principal/imagen-nosotros.jpg" alt="">
            </div>
            <div class="py-5 w-30rem m-6 border-round  justify-content-center">
                <p class="text-6xl font-bold border-round m-2" style="color: white;">Sobre Nosotros</p>
                <br>
                <p  class="text-xl font-bold border-round m-2"  style="color: white; text-align: justify;">En Carnicería Chiqui nos preocupamos por ofrecer productos frescos y de alta calidad. Todos nuestros cortes son seleccionados cuidadosamente para garantizar la frescura que merecen tus platillos. Ven y descubre el sabor auténtico de la carne.</p>          
            </div>
    </div>

    <br>
    <br>
    <div class="container">
        <div class="flex justify-content-center">
            <span class="text-6xl font-bold border-round m-2" style="color: white;">Cortes</span>
        </div>
            <div class="cortes-contenedor">
                <div class="corte">
                    <img src="../../../../../assets/demo/images/principal/corte1.jpg" alt="Filete Mignon">
                    <p class="text-center">Res (Filete Mignon)</p>
                </div>
                <div class="corte">
                    <img src="../../../../../assets/demo/images/principal/corte2.jpeg" alt="Costilla de Res">
                    <p class="text-center">Res (Costilla de Res)</p>
                </div>
                <div class="corte">
                    <img src="../../../../../assets/demo/images/principal/corte3.jpeg" alt="Chuleta de Cerdo">
                    <p class="text-center">Cerdo (Chuleta de Cerdo)</p>
                </div>
            </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="flex justify-content-evenly flex-wrap">
            <div class="flex flex-column align-items-center justify-content-center font-bold border-round m-2">
                <span class="text-4xl" style="color: white;">Ubicación y Horarios</span>
                <span class="text-2xl" style="color: white;">
                    <i class="pi pi-map-marker text-2xl"></i> San Juan
                  </span>
                  <span class="text-2xl" style="color: white;">
                    <i class="pi pi-clock text-2xl"></i> Lunes a Viernes
                  </span>
            </div>
            <div class="flex flex-column align-items-center justify-content-center font-bold border-round m-2">
                <span class="text-4xl" style="color: white;">Contactos</span>
                <span class="text-2xl" style="color: white;">
                    <i class="pi pi-phone text-2xl"></i> +502 4567801
                  </span>
                  <span class="text-2xl" style="color: white;">
                    <i class="pi pi-whatsapp text-2xl"></i> +502 12345678
                  </span>   
            </div>
            <div class="flex flex-column align-items-center justify-content-center   font-bold border-round m-2">
                <img src="../../../../../assets/demo/images/principal/fondo.png" alt="Filete Mignon">
                <div class="flex  align-items-center justify-content-center   font-bold border-round m-2">
                    <span class="text-2xl" style="color: white;">
                        <i class="pi pi-whatsapp text-2xl"></i>
                      </span>
                      &nbsp;
                      <span class="text-2xl" style="color: white;">
                        <i class="pi pi-facebook text-2xl"></i>
                      </span>
                      &nbsp;
                      <span class="text-2xl" style="color: white;">
                        <i class="pi pi-instagram text-2xl"></i>
                      </span>
                </div>
              
            </div>
        </div>
      
    </div>
          

      
   
</div>
 