

<div class="fondo">
    <header style="background:transparent">
        <nav class="p-d-flex p-jc-between p-ai-center p-px-3 p-py-2" style="background-color: transparent;">
          <!-- Logo -->
          <div class="logo p-d-flex p-ai-center">
            <img src="../../../../../assets/demo/images/principal/logo.jpeg" alt="Logo de la Carnicería Chiqui" class="p-mr-2">
          </div>
      
          <!-- Botón de Iniciar Sesión -->
          <div class="nav-right">
            <p-button label="Iniciar Sesión" icon="pi pi-user" [outlined]="true"  class="custom-rounded-button" />
    
              </div>
        </nav>
      </header>

      <div class="image-container p-relative">
        <!-- Imagen -->
        <!-- <img src="../../../../../assets/demo/images/principal/carnes.jpg" alt="Imagen" class="image"> -->
      
        <!-- Texto centrado en medio de la imagen -->
        <section class="hero">
            <div class="hero-content">
                <h1>CHIQUI</h1>
                <p>Cada platillo en familia merece lo mejor</p>
            </div>
        </section>


</div>

 